body {
    background: rgb(132, 200, 245);
}
.grid {
    --grid-width: 400px;
    --grid-height: 400px;

    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    background:rgb(139, 139, 226);
    height: var(--grid-height);
    width: var(--grid-width);
    flex-wrap: wrap;
    color: #eef584;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    
}
.firstState{
    margin: 2px;
    height: 100px;
    width: 100px;
    background: green;
    transition-duration: 2s;
}
.secondState{
    margin: 2px;
    height: 100px;
    width: 100px;
    background: #eef584;
    transition-duration: 2s;
}
